<section class="header-homepage">
    <div class="container-header-homepage">
        <div class="cont-info-homepage">
            <h1>Seja Bem Vindo(a)</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem inventore, accusamus quas vero optio voluptate quod nobis dolorum! Quam eum saepe aut qui corporis quisquam nemo amet modi ex aspernatur?</p>
            <button class="btn-cont-info-facalogin">Faça Login</button>
        </div>
        <hr>
        <h2 class="homepage-titulo">Postagens Recentes</h2>
    </div>
    
</section>
{{#each postagens}}
    <div class="card-postagem">
        <div>
            <h1 class="titulo-postagem">{{titulo}}</h1>
            <p class="conteudo-postagem">{{descricao}}</p>
        </div>
        <div>
            <a href="/postagem/{{slug}}"><button>Leia Mais</button></a>
            <hr>
            <small><strong>Categoria:</strong> {{categoria.nome}}</small>
            <small><strong>Data de criação</strong> {{date}}</small>
        </div>
    </div>
{{else}}

{{/each}}